{{#messages}}
{{#status}}{{#message.status}}{{{text}}}{{/message.status}}{{/status}}
{{#warning}}{{#message.warning}}{{{text}}}{{/message.warning}}{{/warning}}
{{#error}}{{#message.error}}{{{text}}}{{/message.error}}{{/error}}
{{/messages}}
{{{synced}}}