<script>
  window.mustacheSync = window.mustacheSync || {items: [], templates: []};
  window.mustacheSync.templates.push({
    name: '{{ template.name|raw }}',
    content: '{{ template.encoded|raw }}'
  });
</script>
